robot_comedy_ml/pitch_inten_avg/*.txt
robot_comedy_ml/pitch_inten_avg_std/*.txt
robot_comedy_ml/pitch_inten_avg_std_minmax/*.txt
robot_comedy_ml/pitch_inten_ts/*.txt
mid_joke_praat_data/pitch_inten_avg/*.txt
mid_joke_praat_data/pitch_inten_avg_std/*.txt
mid_joke_praat_data/pitch_inten_avg_std_minmax/*.txt
mid_joke_praat_data/pitch_inten_ts/*.txt
k-means-test_by_Tony/input/*.txt

#  VS Code Stuff
.vscode/